@CHARSET "UTF-8";

/* 画面全体を横幅500px、中央寄せで表示するようにする */
body { width: 500px; text-align: center; }
/* タイトル部分の装飾を行なう */
h1 {
border-left: 20px solid #669999; border-right: 20px solid #669999;
padding: 10px 8px 8px 10px; background-color: #dddddd; text-align: center;
}
/* 本体部分の枠線と余白を設定する */
.box { width: 480px; border: 10px #dddddd solid; margin-bottom: 20px; }
/* 入力欄を縦並びで表示するようにする */
dl { line-height: 2em; padding: 12px; }
dt { width: 70px; padding: 3px; font-weight: bold; }
dd { padding: 3px 3px 3px 80px; margin-top: -2.5em; }
input { width: 96%; padding: 4px; font-size: 150%; }